@charset "utf-8";
/* Table CSS Web3d2009.org // Program
 * jens.keil@igd.fraunhofer.de
 */
 	table.csv {
		color:black;
		background-color:#ffffff;
		text-align:left;
		border-collapse:collapse;
		font-size:12px;
		width:420px;
		font-family:Arial, Helvetica, sans-serif;
		vertical-align:top;
	}
	table.csv caption {
		text-align:left;
		font-weight:bold;
	}
	table.csv tfoot {
		text-align:right;
		font-size:smaller;
	}
	table.csv thead tr {
		background-color:#c0c0c0;
		border-bottom:1px dotted #DDDDDD;
	}

	table.csv thead{
		border: 1px solid #ffffff;
		border-bottom: 1px solid #ffffff;
		font-size:12px;
	}


	table.csv tr {
		border-bottom:1px dotted #DDDDDD;
	}
	
	table.csv thead tr th{
		padding:6px 14px 6px 14px;
		border-bottom:1px dotted #DDDDDD;
	}

	table.csv tr td{
		padding:6px 14px 6px 14px;
		vertical-align:top;		
	}

	table.csv tr td.node{
		width:170px;
	}

	table.csv tr.odd {
	  background-color:#E7F1F3;
	}
	table.csv tr.even {
	  background-color:#fcfcfc;
	}

	table.csv tr.even.description,
	table.csv tr.odd.description{
	  color:black;
	}
	
	table.csv .col1 {
		font-weight:bold;
	}

	table.csv .col2,
	table.csv .col3,
	table.csv .col4
	{
		text-align:left;
	}
	
	.table_author {
		font-style:italic;
		color:#666666;
	}

